body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* the container */
.animation {
    position: relative;
    width: 1400px;
    height: 200px;
    margin: 240px auto;
}
/* the boxes in general */
.animation .box {
    position: relative;
    width: calc(270px - 20px);
    height: calc(200px - 20px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

/* icon */
.animation .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 1; 
}
/* what happens to icon when hovering over it */
.animation .box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.animation .box .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}

.animation .box:hover .icon .fa {
    font-size: 40px;
}
/* what goes inside the box */
.animation .box .content {
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
/* when you hover over the content */
.animation .box:hover .content {
    top: 100px;
    opacity: 1;
}

/* the subtitle in the box (name of category) */
.animation .box .content h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;
}
/* The description in each box */
.animation .box .content p {
    margin: 0;
    padding: 0;
    color: #fff;
}

/* first box */
.animation .box:nth-child(1) .icon {
    background: #319635;
}

.animation .box:nth-child(1) {
    background: #4caf50;
}

/* second box */
.animation .box:nth-child(2) .icon {
    background: #d03852;
}

.animation .box:nth-child(2) {
    background: #f54967;
}

/* third box */
.animation .box:nth-child(3) .icon {
    background: #23798e;
}

.animation .box:nth-child(3) {
    background: #328fa5;
}

/* fourth box */
.animation .box:nth-child(4) .icon {
    background: purple;
}

.animation .box:nth-child(4) {
    background: rgb(192, 121, 192);
}

/* fifth box */
.animation .box:nth-child(5) .icon {
    background: orange;
}

.animation .box:nth-child(5) {
    background: rgb(241, 183, 73);
}